* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
}

.logo {
    width: 160px;
    display: flex;
    justify-content: space-around;  
    padding: 1px 3px;
    text-align: center;
}


.secao-1 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;  
}

.input-text {
    width: 160px;
    margin: 3px 0;
    padding: 1px 3px;

}

.container-button {
    width: 160px;
    padding: 2px 0;
    display: flex;
    justify-content: space-between;    
}


.btn {
    width: 77px;
    padding: 2px ;
    border-radius: 3px;
    border: solid 1px #4c4c4d;
    cursor: pointer;
}

.btn-codigo {
    width: 200px;
    padding: 2px ;
    border-radius: 3px;
    border: solid 1px #4c4c4d;
    cursor: pointer;
}


.resultado {
    width: 160px; 
    height: 74px;
    display: block;

}

.resultado-input {
    width: 160px;
    height: 70px;     
    padding-left: 5px;     
    box-sizing: border-box;
    resize: none;       
    overflow: auto;
 
}

.container-info {
    width: 160px;
    text-align: center;
}